<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            This tutorial has been put together by Amy Hynes. <br />
        </div>
        <div>
            visits: {{visits}}
        </div>
        <div>
            <img src="{{ MEDIA_URL }}cat.jpg"
                alt="Picture of a cat" />
            <img src="{% static "images/rango_with_egg.jpg" %}"
                alt="Picture of Rango with an Egg" />
        </div>
{% endblock %}
